.orderHistory {
  padding: 40px;
  .header {
    width: 100%;
    font-size: 20px;
    text-align: left;
    .form {
      float: right;
      width: 50%;
      select,
      input {
        border: 1px solid rgb(243, 239, 239);
        background-color: #fff;
        padding: 0px 20px;
        height: 40px;
        border-radius: 4px;
      }
      input {
        width: 43%;
      }
      select {
        width: 25%;
        margin-left: 12px;
      }
    }
  }
}
