.orderHistory {
  padding: 60px;
  .header {
    font-weight: 600;
    width: 100%;
    text-align: left;
    p {
      display: inline-block;
    }
    .form {
      float: right;
      width: 50%;
      text-align: right;
      select,
      input {
        border: 1px solid rgb(243, 239, 239);
        background-color: #fff;
        padding: 0px 20px;
        height: 40px;
        border-radius: 4px;
      }
      input {
        width: 43%;
      }
      select {
        width: 25%;
        margin-left: 12px;
      }
    }
  }
  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 60px 20px;
    .header {
      font-weight: 600;
      .form {
        padding: 15px 0;
        width: 100%;
        input {
          width: 42%;
          display: inline-block;
        }
      }
    }
    .gradient {
      overflow: auto;
      width: 1000px !important;
      .table-wrap {
        overflow: auto;
        .white-table {
          width: 1000px;
        }
      }
    }
  }
}
