.dashboard {
  .side-wrap {
    width: 80px;
    position: relative;
    transition: linear all 0.2s;
    float: left;
    &.open {
      width: 250px;
    }
    .arrow {
      width: 25px;
      height: 25px;
      line-height: 26px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 15px;
      right: -15px;
      text-align: center;
      z-index: 25;
      img {
        width: 13px;
        transition: linear all 0.2s;
        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
  .dash-contents {
    // display: inline-block;
    overflow: auto;
    background-color: #fafafa;
    float: left;
    height: 100vh;
    overflow: hidden;
    width: calc(100% - 250px);
    padding-top: 60px;
    &.wide {
      width: calc(100% - 80px) !important;
    }
    &.narrow {
      width: calc(100% - 250px) !important;
    }
  }
  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    .side-wrap {
      display: none !important;
    }
    .dash-contents {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      &.wide,
      &.narrow {
        width: 100% !important;
        padding-right: 0;
      }
    }
  }
}
