.sidebar {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: #4a0003;
  text-align: left;
  position: relative;
  z-index: 22;
  .top {
    height: 60px;
    line-height: 80px;
    border-bottom: 2px solid #aaaaaa1a;
    padding: 0 25px;
    img {
      height: 35px;
    }
  }
  .logout {
    display: none;
  }
  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    .logout {
      display: block;
    }
  }
}
