.signup {
  text-align: center;
  padding: 120px;
  .logo {
    width: 250px;
  }
  .login-box {
    text-align: left;
    width: 400px;
    min-height: 300px;
    box-shadow: 2px 6px 6px 5px #eeeeee6b;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    margin: 30px auto;
    padding: 60px 50px;
    .welcome {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      color: #4a0003;
    }
    .forgot {
      font-size: 13px;
      position: relative;
      top: -10px;
      .red {
        cursor: pointer;
      }
    }
    .caveat {
      font-size: 13px;
      position: relative;
      top: 6px;
    }
  }
  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 40px 15px;
    .login-box {
      width: 100%;
      padding: 40px;
    }
  }
}
