.nav {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  .notif {
    position: relative;
    top: 5px;
    left: -10px;
    display: inline-block;
    img {
      height: 25px;
    }
    span {
      background-color: rgb(29, 25, 25);
      color: #fff;
      font-size: 8px;
      padding: 1px 5px;
      border-radius: 20px;
      position: relative;
      top: -15px;
      left: -8px;
    }
  }
  .icns {
    float: right;
    height: 60px;
    line-height: 60px;
    padding-right: 60px;
  }

  .dropdown-wrap {
    display: inline-block;
    cursor: pointer;
    .avatar {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #10a3ff;
      position: relative;
      top: 10px;
      margin-right: 12px;
      text-align: center;
      img {
        position: absolute;
        top: 5px;
        left: -0px;
        transition: linear all 3s;
      }
    }
    .name {
      font-size: 12px;
    }
  }

  .dropdown {
    float: right;
    width: 170px;
    position: absolute;
    top: 59px;
    right: 60px;
    background-color: #fff;
    display: none;
    border-radius: 3px;
    // box-shadow: 0px 3px 6px #00000010;
    z-index: 100000;
    ul {
      margin: 0;
      padding: 0;
      position: relative;
      li {
        list-style: none;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        font-size: 12px;
        cursor: pointer;
        text-align: left;
        &:hover {
          background-color: #f5f5f5;
        }
        img {
          position: absolute;
          right: 0px;
          width: 18px;
        }
      }
      .bb {
        border-bottom: 1px solid #eee;
      }
    }
  }

  .dropdown-wrap:hover .dropdown {
    display: block !important;
  }
}
