.nav {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 0 60px;
  z-index: 20;
  #nav-icon1,
  .mobile-nav {
    display: none;
  }
  .logo {
    height: 30px;
    margin: 15px 0;
    float: left;
  }

  .activelink {
    display: none;
  }

  .notif {
    position: relative;
    top: 5px;
    left: -10px;
    display: inline-block;
    img {
      height: 25px;
    }
    span {
      background-color: rgb(29, 25, 25);
      color: #fff;
      font-size: 8px;
      padding: 1px 5px;
      border-radius: 20px;
      position: relative;
      top: -15px;
      left: -8px;
    }
  }
  .icns {
    float: right;
    height: 60px;
    line-height: 60px;
  }

  .dropdown-wrap {
    display: inline-block;
    cursor: pointer;
    .avatar {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #10a3ff;
      position: relative;
      top: 10px;
      margin-right: 12px;
      text-align: center;
      img {
        position: absolute;
        top: 5px;
        left: -0px;
        transition: linear all 3s;
      }
    }
    .name {
      font-size: 12px;
    }
  }

  .dropdown {
    float: right;
    width: 170px;
    position: absolute;
    top: 59px;
    right: 60px;
    background-color: #fff;
    display: none;
    border-radius: 3px;
    // box-shadow: 0px 3px 6px #00000010;
    z-index: 100000;
    ul {
      margin: 0;
      padding: 0;
      position: relative;
      li {
        list-style: none;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        font-size: 12px;
        cursor: pointer;
        text-align: left;
        &:hover {
          background-color: #f5f5f5;
        }
        img {
          position: absolute;
          right: 0px;
          width: 18px;
        }
      }
      .bb {
        border-bottom: 1px solid #eee;
      }
    }
  }

  .dropdown-wrap:hover .dropdown {
    display: block !important;
  }
  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 0 15px;
    .mobile-nav {
      width: 100%;
      background-color: transparent;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      overflow: hidden;
      transition: linear all 0.3s;
      z-index: 198776656;
      text-align: left;
      &.open {
        display: block;
      }
      .main-content {
        background-color: #4a0003;
        padding: 30px 0;
        width: 80%;
        height: 100vh;
      }
    }

    #nav-icon1 {
      width: 50px;
      height: 20px;
      position: absolute;
      right: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      float: right;
      margin: 22px 0px;
      display: block;
      z-index: 55;
    }

    #nav-icon1 span {
      display: block;
      position: absolute;
      height: 3px;
      width: 34px;
      background: #cecece;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      background: #4a0003;
    }
    #nav-icon1.open {
      margin-left: 77%;
      z-index: 12121212121212;
      span {
        // background-color: #fff;
        height: 2px;
        // background-color: #fff !important;
      }
    }

    #nav-icon1 span:nth-child(1) {
      top: 0px;
    }

    #nav-icon1 span:nth-child(2) {
      top: 8px;
    }

    #nav-icon1 span:nth-child(3) {
      top: 16px;
    }

    #nav-icon1.open span:nth-child(1) {
      top: 10px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    #nav-icon1.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    #nav-icon1.open span:nth-child(3) {
      top: 10px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
    .activelink {
      display: inline-block;
      height: 100%;
      line-height: 60px;
      width: calc(100% - 50px);
      font-size: 16px;
      font-weight: 600;
      text-align: left;
    }
    .notif {
      left: -40px;
      width: 50px;
    }
  }
}
